#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* backgrounds */
.bg {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* dark blue */
.bg-D-blue {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 100, 1) 35%,
    rgba(9, 9, 121, 1) 100%
  );
}
/* light blue */
.bg-L-blue {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 50, 1) 35%,
    rgba(9, 9, 121, 1) 100%
  );
}

/* buttons */
.btn-L-blue {
  font-size: 16px;
  position: relative;
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 3);
  /* padding: 10px; */
  border-radius: var(--radius-2xl);
  border: 2px solid #050c2b;
  background: #4042eefa;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em #4043eed7;
  color: #050c2b;
}

.btn-L-blue:hover {
  background: #191baa;
  color: white;
  border: 2px solid #dbdde4;
  font-weight: bold;
}

.btn-D-blue {
  font-size: 16px;
  position: relative;
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 3);
  /* padding: 10px; */
  border-radius: var(--radius-2xl);
  border: 2px solid #dbdde4;
  background: #191baa;
  transition: all 0.1s linear;
 box-shadow: 0 0.2em 0.65em #2125eb;
  color: white;
}
.btn-D-blue:active {
  transform: scale(0.95);
}
.btn-D-blue span {
  color: #5471d1;
}

.btn-D-blue .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}

.btn-D-blue:hover {
  background: #4042eefa;
  color: #050c2b;
  border: 2px solid #050c2b;
  font-weight: bold;
}
